:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
            120deg,
            #35495e -80%,
            #41b883
    );

    --vp-home-hero-image-background-image: linear-gradient(
            135deg,
            #41b88354 30%,
            #35495e54
    );

    --vp-home-hero-image-filter: blur(30px);
}

.dark {
    --vp-home-hero-image-background-image: linear-gradient(
            135deg,
            #41b88380 30%,
            #35495e80
    );
}

a.telegram-passport-tooltip {
    color: #ffffff;
}
a.telegram-passport-tooltip:hover {
    color: #eeeeee;
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(72px);
    }
}
